services:
  - type: web
    name: portfolio-kun-backend
    runtime: node
    env: node
    region: oregon
    plan: free
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: COHERE_API_KEY
        sync: false
      - key: CLIENT_URL
        value: https://kunerrs.github.io
